<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Search
        </ion-title>
        
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="content">
        <form action="" (submit)="submitSearch()">
            <div class="search-box">
                <input type="text" placeholder="Search" name="query" [(ngModel)]="query" autocomplete="off">
                <button type="submit">
                    <ion-icon name="search-outline" slot="icon-only"></ion-icon>
                </button>
            </div>
        </form>
    
        <div class="search-content">
            <ion-item *ngFor="let result of results">
                <ion-thumbnail slot="start">
                    <img [src]="result.snippet.thumbnails.medium.url">
                  </ion-thumbnail>
                  <ion-label class="ion-text-wrap">
                    <h2 [innerHTML]="result.snippet.title"></h2>
                  </ion-label>
                  <ion-spinner name="crescent" *ngIf="result.adding && !result.complete"></ion-spinner>
                  <ion-icon name="checkmark-outline" *ngIf="result.complete"></ion-icon>
                  <ion-button fill="outline" (click)="onDownload(result.id.videoId)" *ngIf="!result.adding && !result.complete">
                    <ion-icon name="add-outline"></ion-icon>
                  </ion-button>
            </ion-item>
        
            <div class="foot-content">
                <div class="spinner-box" *ngIf="searching">
                    <ion-spinner name="crescent" ></ion-spinner>
                </div>
            
                <ion-button expand="block" *ngIf="results.length && !searching && nextPageToken" (click)="loadMore()">Load More</ion-button>
            </div>
        </div>
    </div>
</ion-content>
