<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Playlist
        </ion-title>
        <ion-title size="small" slot="secondary">ID {{ socket.roomId }}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="startNewRide()">
                New Ride
                <ion-icon name="refresh-outline" slot="start"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [scrollEvents]="true" (ionScroll)="scroll($event)">
    <div class="fade">
        <ion-card>
            <ion-card-content>
                
                <div class="title-album" [ngClass]="{'small': scrolled}">
                    <div class="album">
                        <img [src]="music.song ? music.url + 'thumbnails/' + music.song.video_id : settings.theme === 'light' ? 'assets/no_cover_light.jpg' : 'assets/no_cover_dark.jpg'" alt="">
                        <button (click)="toggleTag('favorite', music.song.video_id)" *ngIf="music.song !== undefined">
                            <ion-icon [name]="music.song.tagArr.includes('favorite') ? 'star' : 'star-outline'"></ion-icon>
                        </button>
                    </div>
                    <h2 *ngIf="music.song">
                        <span *ngIf="scrolled">
                            {{ music.song.title }}
                        </span>

                        <ng-container *ngIf="!scrolled">
                            {{ music.song.title }}
                        </ng-container>
                    </h2>
                </div>
    
                <div class="range-items">
                    <div class="left">
                        <ion-button size="small" (click)="toggleLock()">
                            <ion-icon name="{{ !music.locked ? 'lock-open-outline' : 'lock-closed-outline' }}"></ion-icon>
                        </ion-button>
                    </div>
                    <div class="center">
                        <ion-range min="0" max="100" step="1" [(ngModel)]="music.volume" (ionChange)="volumeUpdate($event)"></ion-range>
                    </div>
                    <div class="right">
                        {{ music.volume }}
                    </div>
                </div>
    
    
                <div class="buttons">
                    <div class="button">
                        <ion-button expand="block" (click)="music.togglePlaying()">
                            <ion-icon name="play" *ngIf="!music.playing"></ion-icon>
                            <ion-icon name="pause" *ngIf="music.playing"></ion-icon>
                        </ion-button>
                    </div>
                    <div class="button">
                        <ion-button expand="block" (click)="music.playNext()">
                            <ion-icon name="play-forward"></ion-icon>
                        </ion-button>
                    </div>
                </div>
            </ion-card-content>
        </ion-card>
    
    </div>

    <div class="filters" [ngClass]="{'min-margin': scrolled}">
        <ion-button fill="clear" (click)="music.loadPlaylist()">
            <ion-icon name="refresh" slot="start"></ion-icon>
            Refresh
        </ion-button>

        <ion-button (click)="openFilters()">
            Fillters
            <ion-icon name="filter" slot="end"></ion-icon>
        </ion-button>
    </div>

    <div class="playlist">
        <ng-container *ngFor="let song of music.playlist">
            <ion-item-sliding>
                <ion-item (click)="music.startSong(song)" [ngClass]="{'active': music.song === song, 'playing': music.song === song && music.playing}">
                    <ion-thumbnail slot="start">
                        <img [src]="music.url + 'thumbnails/' + song.video_id">
                    </ion-thumbnail>
                    <ion-label class="ion-text-wrap">
                        <h2>{{ song.title }}</h2>
                        <p>{{ song.artist }}</p>
                    </ion-label>
                </ion-item>

                <ion-item-options side="end">
                    <ion-item-option (click)="toggleTag('hidden', song.video_id)">
                        <ion-icon [name]="song.tagArr.includes('hidden') ? 'eye-off' : 'eye'"></ion-icon>
                    </ion-item-option>
                  </ion-item-options>
            </ion-item-sliding>
        </ng-container>
    </div>
</ion-content>
