<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Settings
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-item>
        <ion-icon name="moon-outline" *ngIf="dark" slot="start"></ion-icon>
        <ion-icon name="sunny-outline" *ngIf="!dark" slot="start"></ion-icon>
        <ion-label>Dark Mode</ion-label>
        <ion-toggle [(ngModel)]="dark" (ionChange)="toggleTheme($event)"></ion-toggle>
    </ion-item>
</ion-content>
